
#header {    
    background-color: rgb(10,155,169);
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#nav-bar .nav-link {
    /* border: 1px solid red; */
    justify-content: baseline;
    color: white;
    text-decoration: none !important;
    font-size: 18px;
}

.sections {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

#form {
     margin: 5px auto;
     padding: 5px;   
}

.input-data {
    margin: 5px;
    padding: 5px;
}

.icon, #submit {
    padding: 10px;
    background-color: #0a9ba9;
    color: white;
    border-radius: 10%;
}

input {
    padding: 10px;
    width: 25%;

}
