body {
    background-color: rgba(204, 204, 204, 0.8);
    border: 1px solid red;
    margin: 0 auto;
    padding: 0 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main-doc {
    box-sizing: border-box;
    margin-left: 250px;
    padding-left: 5px;   
}

#navbar {
    position: fixed;
    z-index: 1;
    width: 250px;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 5px 0 5px 5px;
    background-color: #0a9ba9;
    color: white;
}

.nav-link {
    display: block;
    margin-right: 50px auto;
    padding: 10px 0;
    color: white;
}

.nav-link:hover {
    color: black;
    background-color: white;
}

li code {
    display: block;
    margin: 5px 0;
    padding: 5px;
    background-color: beige;
}

.postgres {
    box-sizing: border-box;
    background-color: blanchedalmond;
    padding: 2px;
    border-radius: 1px;
    color: red;
}

#menu {
    text-align: center;
}

span p, #PostgreSQL_Views > span > p {
    display: inline;
    box-sizing: border-box;
    margin: 1px 1px 0;
    overflow: hidden;
}

li{
    margin-top: 3px;
    padding: 2px auto;
}
li p {
    margin: 3px 0;
    padding: 0;
    font-style: italic;
}

div {
    padding-left: 1px;

}

li::first-letter {
    text-transform: capitalize;
}

span[class="query"], span[class="alter"] {
    color: blue;
    background-color: cornsilk;
    border-radius: 20%;
    padding: 2px 4px;
    margin: 0;
}


.main-section > code, span > code {
    display: block;
    margin: 5px 0 20px;
    padding: 5px;
    background-color: beige;
}

.indexes, .triggers {
    font-weight: bold !important;
}

li > .indexes, li > .triggers {
    text-indent: 1px;
    margin: 5px 0;
    font-size: 14px;
}

@media only screen and (max-width: 600px){
    body {
        background-color: lightblue;
    }

    #navbar, .nav-link {
        background-color: lightgrey;
        color: black;
    }


    span[class="query"], 
    span[class="alter"] {
        color: red;
        background-color: cornsilk;
    }
}